/*  RWD
Media Queries 
Desktop 1024px
Tablet  768px
Mobile Large 425px
Mobile Medium  375px
Mobile Small  320px */

/* Desktop */
@media (max-width: 900px){
    /* General style */
    
    /* Blogs.html */
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container  {
        max-width: 44%;
    }
    .contact-main-container div {
        display: inline-block;
        width: 45%;
      }
      .contact-main-container 
      .contact-left, 
      .contact-right {
        text-align: initial;
        margin-top: 2em;
      }
}

/* Tablet */

@media (max-width: 600px){
    /* Blogs.html */
   .blogs-posts-container .post-container {
        max-width: 95%;
    }
    
}

/* Mobile Large  */

@media (max-width: 425px) {
    /* Blogs.html */
    .blogs-news-img-container img {
        width: 98%;
    }
    /* index.html nav  */
    header .social-media-container .icons {
         width: 80%;
         margin: 0;
         justify-self: center;
    }
    /* index.html  */
    nav .profile-link {
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    nav .nav-logo-container {
        margin:0;
    }
    /* blogs.html */
    footer p {
        text-align: center;
        padding: 0 20px;
    }

    .blogs-posts-container {
        padding: 0 20px 40px;
    }
    .blogs-posts-container .post-container p {
        font-size: .9em;
    }
    /* blog.html  */
    .blogpost-img-container {
        padding: 0;
    }

    .blogpost-main-container {
        padding: 0 20px;
    }

    .contact-main-container {
      padding: 20px 0;
    }
    .contact-left p, 
    .contact-right p {
        display: none;
    }

    /* perfil.html  */
    
    .projects-main-container {
        display: block;
    }
    .profile-main-container .profile-container {
        display: block;
    }
    .projects-main-container .project-container {
        padding: 10px 10px;
    }
}
/* Mobile Medium*/

@media screen and (min-width: 375px) and (max-width: 424px) {
    /* perfil.html */
    .profile-main-container img {
        width: 100%;
    }
    
}

/* Mobile Small  */

@media screen and (min-width:320px) and (max-width:374px) {
    /* Blogs.html */
    .blogs-news-img-container img {
        width: 100%;
    }
    /* index.html  */
    header .social-media-container {
        width: 320px;
    }
    
    nav .nav-logo-container img {
        width: 190px;
    }
    
}